
<h1>
  注册
</h1>

<%= form_for(@partner, :url => partners_path, :html => {:class => 'form-horizontal'}) do |f| %>
  <% unless f.error_messages.blank? %>
    <div class="alert alert-error">
      <%= f.error_messages %>
    </div>
  <% end %>
  
  <div class="control-group">
    <label class="control-label" for="focusedInput">用户名</label> 
    <div class="controls">
      <%= f.text_field :login, :class => 'span2' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">密码</label>
    <div class="controls">
    <%= f.password_field :password, :class => 'span2' %>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">确认密码</label>
    <div class="controls">
    <%= f.password_field :password_confirmation, :class => 'span2' %>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">联系电话</label>
    <div class="controls">
    <%= f.text_field :mobile, :class => 'span2' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit " 注册 ", :class => "btn btn-primary" %> &nbsp;&nbsp;&nbsp;&nbsp;
    已有账号？
    <%= link_to '登录', login_path %>
  </div>
<% end %>
