
<div class="well" style="padding: 12px 0;">
  <ul class="nav nav-list">
    
    <li class="<%= ['index'].include?(action_name) ? 'active' : '' %>">
      <a href="/charts"><i class="icon-white "></i> 销售总览 </a>
    </li>
    <li class="<%= action_name == 'products' ? 'active' : '' %>">
      <a id='tip1' href="#" rel="tooltip" title="稍后送上"><i class="icon-white "></i>单品销售分析</a>
    </li>
    <!-- <li class="<%= action_name == 'customers' ? 'active' : '' %>">
      <a href="/charts/customers"><i class="icon-white "></i> 客户购买分析 </a>
    </li> -->
  </ul>
</div>

<%= render 'shared/bulletin_board' %>
<%= render 'shared/fast_tools' %>

<script>
  jQuery(function($) {
    $('#tip1').tooltip({'placement': 'right'});
  });
</script>