<ul class="nav nav-tabs" id='tab'>
  <li class="<%= action_name == 'index' ? 'active' : ''%>">
    <a href="/orders">近三个月订单</a>
  </li>
  
  <li class="<%= action_name == 'waiting_pay' ? 'active' : ''%>">
    <a href="/orders/waiting_pay">等待买家付款</a>
  </li>
  <li class="<%= action_name == 'waiting_delivery' ? 'active' : ''%>">
    <a href="/orders/waiting_delivery">等待发货</a>
  </li>
  <li class="<%= action_name == 'delivery' ? 'active' : ''%>">
    <a href="/orders/delivery">已发货</a>
  </li>
  <li class="<%= action_name == 'refunding' ? 'active' : ''%>">
    <a href="/orders/refunding">退款中</a>
  </li>
  <li class="<%= action_name == 'need_comment' ? 'active' : ''%>">
    <a href="/orders/need_comment">需要评价</a>
  </li>
  
  <li class="<%= action_name == 'successed' ? 'active' : ''%>">
    <a href="/orders/successed">成功的订单</a>
  </li>
  <li class="<%= action_name == 'closed' ? 'active' : ''%>">
    <a href="/orders/closed">关闭的订单</a>
  </li>
  <li class="<%= action_name == 'three_months_ago' ? 'active' : ''%>">
    <a href="/orders/three_months_ago">三个月前订单</a>
  </li>
</ul>
