
<div class='row'>
  <div class='span2'>
    <%= render 'sidebar' %>
  </div>  
  
  <div class='span10'>

    <div class="row" style='margin-top: 10px; margin-bottom:6px;'>
      <div class="span4">
        <label style='float:left;padding-top:5px'>平台库存少于</label> 
        <div class="controls">
          <input class="span1" id="appendedInputButton" size="16" type="text"/>
          <span class="help-inline">的商品：</span>
        </div>
      </div>
          
      <div class="span2 offset4">
        <a href="<%= sync_products_path %>" class="btn btn-info">手动同步</a>
      </div>
    </div>

    <div id="products">
  
      <table class="table table-striped">
        <thead>
        <tr>
          <th width='8%'>编码</th>
          <th width='30%' colspan='2' align='center'>产品名称</th>
          <th width='10%'>单价</th>
          <th width='7%'>总库存</th>
          <th width=''>各平台库存</th>
          <th width='10%'> </th>
        </tr>
        </thead>

        <tbody>
        <% @products.each do |item| %>
        <tr>
          <td><%= item.outer_id %></td>
          <td><%= image_tag item.image_url, :size => '50x50' %></td>
          <td><strong><%= item.name %></strong></td>
          <td><%= item.price %></td>
          <td><%= item.total %></td>
          <td> 
            淘宝：1000；京东：234；范德萨：4333
          </td>
          <td>
            <div>
              <%= link_to '详细库存', edit_product_path(item.id) + '?return_url=' + products_path %><br/>
            </div>
          </td>
        </tr>
        <% end %>

        </tbody>
      </table>
    </div>
    
    <%= will_paginate @products, :previous_label => '上一页', :next_label => '下一页', :class => 'digg_pagination' %>
    
  </div>
</div>

<script>
  jQuery(function($) {
    $('#search-options-button').click(function() {
      var $this = $(this);
      
      if($('#search-options').attr('data-status') == 'hide') {
        $('#search-options').show();
        $('#search-options').attr('data-status', 'show');
      }else {
        $('#search-options').hide();
        $('#search-options').attr('data-status', 'hide');
      }
    });
  });
</script>
